# Build output
/dist/
/release/

# Dependency directories
/node_modules/

# Parcel cache
/.cache/
/.parcel-cache/

# Old and release files
/.old/
/.releases/

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*

# Lock files
package-lock.json
yarn.lock

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Firefox manifest (if generated)
src/manifest.firefox.json
